{% extends 'base.html' %}

{% block title %}

Are You Sure You Want to Delete Your {{object.name}} {{ object.dosage }}? | Doctor's Protal

{% endblock %}

{% block content %}

<h1>Are you sure you want to delete your <span class="{{ object.dosage.lower }}-text">{{ object.dosage.capitalize }}</span> {{ object.name }}?</h1>

<form action="" method="POST">
    {% csrf_token %}
    <input class="btn red" type="submit" value="Yes - Delete">
    <a class="btn blue" href="{% url 'prescriptions_detail' object.id %}">No - Cancel</a>
</form>

{% endblock %}