{% extends 'base.html' %}

{% block title %}

Add A Prescription | Doctor's Portal

{% endblock %}

{% block content %}

{% if object %}
<h1>Edit <span class="{{object.color}}-text">{{object.name}}</span> {{ object.dosage }}</h1>
{% else %}
<h1>Add A Prescription</h1>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <input type="submit" value="{% if object %} Update {% else %} Add Prescription {% endif %}" class="btn green" />
</form>

{% endblock %}