
{% extends 'base.html' %}

{% block title %}

Information for {{ patient.name }} | Doctor's Portal

{% endblock %}

{% block content %}

<h1>Patient Info</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ patient.name }}</span>
        {% if patient.age > 0 %}
        <p>Age: {{ patient.age }}</p>
        {% else %}
        <p>Age: Infant</p>
        {% endif %}
        <p>Gender: {{ patient.gender }}</p>
        <p>Chief Complaint: {{ patient.chief_complaint }}</p>
        <p>Current Condition: {{ patient.current_condition }}</p>
        <p>Past Medical History: {{ patient.past_medical_history }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'patients_update' patient.id %}">Edit</a>
        <a href="{% url 'patients_delete' patient.id %}">Delete</a>
      </div>
    </div>
  </div>
  <div class="col s6">
    <form action="{% url 'add_prescriptionsGiven' patient.id %}" method="POST">
      {% csrf_token %}
      {{ prescriptionsGiven_form.as_p }}
      <input type="submit" class="btn blue" value="Add Prescriptions Given" />
    </form>
    <table class="striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Prescriptions Given</th>
        </tr>
      </thead>
      <tbody>
        {% for prescriptiongiven in patient.prescriptions_given_set.all %}
        <tr>
          <td>{{ prescriptiongiven.date }}</td>
          <td>{{ prescriptiongiven.time }}</td>
          <td>{{ prescriptiongiven.get_prescriptionsGiven_display }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<hr />

<div class="row">
  <div class="col s6">
    <h3>{{ patient.name }} Prescription</h3>
    {% if patient.prescriptions.count %} {% for prescription in patient.prescriptions.all %}
    <div class="card">
      <div class="card-content">
        <span class="card-title">
           {{ prescription.name.capitalize }} {{ prescription.dosage }}
        </span>
      </div>
      <div class="card-action">
        <form action="{% url 'remove_prescription' patient.id prescription.id %}" method="POST">
          {% csrf_token %}
          <input class="" type="submit" value="Remove">
        </form>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <h5>{{ patient.name }} has no prescriptions</h5>
    {% endif %}
  </div>
  <div class="col s6">
    <h3>Available Prescriptions</h3>
    {% if prescriptions.count %}
      {% for prescription in prescriptions.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
          {{ prescription.name.capitalize}} {{ prescription.dosage }} 
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_prescription' patient.id prescription.id %}" method="POST">
            {% csrf_token %}
            <input class="" type="submit" value="Add">
          </form>
        </div>
      </div>
      {% endfor %}
    {% else %}
    <h5>{{ patient.name }} has all available prescriptions</h5>
    {% endif %}
  </div>
</div>


<script>
  const dateField = document.getElementById('id_date');
  const timeField = document.getElementById('id_time');
  const prescriptionGivenSelect = document.getElementById('id_prescriptionsGiven');

  M.Datepicker.init(dateField, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });

  M.Timepicker.init(timeField, {
    defaultTime: 'now',
    twelveHour: false
  });

  M.FormSelect.init(prescriptionGivenSelect);
</script>  
  


{% endblock %}