{% extends 'base.html' %}

{% block title %}
Current Patients | Doctor's Portal
{% endblock %}

{% block content %}
<h1>Current Patients</h1>

{% for patient in patients %}
<a href="{% 'patients_detail' patient.id"> 
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ patient.name }}</span>
            {% if patient.age >0 %}
            <p>Age: {{ patient.age }}</p>
            {% else %}
            <p>Age: Infant</p>
            {% endif %}
            <p>Gender: {{ patient.gender }}</p>
            <p>Chief Complaint: {{ patient.chief_complaint }}</p>
            <p>Current Condition: {{ patient.current_condition }}</p>
            <p>Past Medical History: {{ patient.past_medical_history }}</p>
        </div>
    </div>
</a>
{% endfor %}

{% endblock %}